body {
    background-color: lavender;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 25px;
}

.cards {
    font-family: Poppins, sans-serif;
    height: auto;
    width: 250px;
    background-color: white;
    padding: 20px;
    border: none;
    border-radius: 25px;
    margin-bottom: 25px;
    margin-right: 25px;
    transition-duration: 0.1s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cards:hover {
    transform: scale(1.075);
}

#btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins, sans-serif;
    text-decoration: none;
    font-size: 0.9em;
    padding: 10px;
    text-align: center;
    background-color: rgb(49, 46, 252);
    border: none;
    border-radius: 5px;
    height: auto;
    color: white;
    cursor: pointer;
    transition-duration: 0.1s;
}

#btn:hover {
    background-color: rgb(25, 21, 253);
}

.cards p {
    text-align: left;
    width: 100%;
}

.cards img {
    height: auto;
    max-height: 50px;
    width: auto;
    margin-bottom: 10px;
}

.cards h3 {
    display: block;
    margin-bottom: 10px;
}

#github {
    position: fixed;
    bottom: 25px;
    right: 25px;
}

#github img {
    height: 50px;
    width: 50px;
    cursor: pointer;
    transition-duration: 0.1s;
}

#github img:hover {
    transform: scale(1.025);
}
